<mat-toolbar color="primary">
    <span>Market Trends</span>
</mat-toolbar>
<div>
    <table>
        <caption>Market Trends</caption>
        <thead>
            <tr>
                <th>Market</th>
                <th>Current Price</th>
                <th>Change (%)</th>
                <th>Trend</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Stock Market</td>
                <td>$3,500</td>
                <td class="up">+2.5%</td>
                <td class="up">Up</td>
            </tr>
            <tr>
                <td>Real Estate</td>
                <td>$450,000</td>
                <td class="down">-1.2%</td>
                <td class="down">Down</td>
            </tr>
            <tr>
                <td>Commodities</td>
                <td>$1,200</td>
                <td class="up">+3.1%</td>
                <td class="up">Up</td>
            </tr>
            <tr>
                <td>Gold</td>
                <td>$1,800</td>
                <td class="down">-0.5%</td>
                <td class="down">Down</td>
            </tr>
            <tr>
                <td>Oil</td>
                <td>$70/barrel</td>
                <td class="up">+1.7%</td>
                <td class="up">Up</td>
            </tr>
        </tbody>
    </table>
</div>