<mat-toolbar color="primary">
    <span>Market Trends</span>
</mat-toolbar>
<div>
    <table>
        <caption>Performance Metrics</caption>
        <thead>
            <tr>
                <th>Metric</th>
                <th>Current Value</th>
                <th>Target</th>
                <th>Performance</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>CPU Utilization</td>
                <td>75%</td>
                <td>80%</td>
                <td class="good">Good</td>
            </tr>
            <tr>
                <td>Memory Usage</td>
                <td>65%</td>
                <td>70%</td>
                <td class="average">Average</td>
            </tr>
            <tr>
                <td>Disk I/O</td>
                <td>90%</td>
                <td>85%</td>
                <td class="poor">Poor</td>
            </tr>
            <tr>
                <td>Network Latency</td>
                <td>150ms</td>
                <td>120ms</td>
                <td class="average">Average</td>
            </tr>
            <tr>
                <td>Error Rate</td>
                <td>0.5%</td>
                <td>1%</td>
                <td class="good">Good</td>
            </tr>
        </tbody>
    </table>
</div>